In [1]:
import pandas as pd 

import sys 
import os

import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix

from kmodes.kmodes import KModes
from sklearn.model_selection import train_test_split
from pycaret.classification import *

%run class/patient_details.py
%run util/utils.py

In [17]:
#Cardiovascular
cardio_df = pd.read_csv("data/cardio_clean.csv")

df_male = cardio_df.query("gender == 1")
df_female = cardio_df.query("gender == 0")

# female data
# Building the model with using K-Mode with "Huang" initialization
km_huang = KModes(n_clusters=2, init = "Huang", n_init = 5, verbose=0)

male_kmode = km_huang.fit(df_male)
female_kmode = km_huang.fit(df_female)

clusters_female = km_huang.fit_predict(df_female)
clusters_male = km_huang.fit_predict(df_male)

# female DataFrame with Clusters
df_female.insert(0,"cluster", clusters_female, True)

# male DataFrame with Clusters
df_male.insert(0, "cluster", clusters_male, True)

# replacing cluster column values to merge dataframes after
df_male["cluster"].replace({0:2, 1:3}, inplace=True)

# merging female and male data
df_clusters = pd.concat([df_female, df_male], ignore_index=True, sort=False)

clf1 = setup(data = df_clusters, 
             target = 'cardio',
             preprocess = False,
             silent = True)

models()

top5 = compare_models(sort='AUC',
                    n_select = 5,
                 )
stack_model = stack_models(estimator_list = top5, meta_model = top5[0],optimize = 'AUC')

final_model = finalize_model(stack_model)

def predict_cvd(patient):
    return final_model.predict(patient)

def assign_cluster_male(patient):
    cluster = male_kmode.predict(patient)
    if cluster[0] == 0: return 2
    if cluster[0] == 1: return 3 

def assign_cluster_female(patient):
    predict = female_kmode.predict(patient)
    return predict[0]

In [32]:
def assign_cluster_male(patient):
    cluster = male_kmode.predict(patient)
    if cluster[0] == 0: return 2
    if cluster[0] == 1: return 3 

def assign_cluster_female(patient):
    predict = female_kmode.predict(patient)
    return predict[0]

df_male.head()
x = assign_cluster_male([[1, 3, 1, 0, 0, 1, 1, 1, 1]])
y = assign_cluster_female([[1, 3, 1, 0, 0, 1, 1, 1, 1]])

3

In [3]:
#Diabetes
diabetes_df = pd.read_csv('data/diabetes_clean.csv')
diabetes_df.info()

X = diabetes_df.iloc[:,:-1]
y = diabetes_df.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

clf1 = setup(data = diabetes_df, 
             target = 'Outcome',
             preprocess = False,
             silent = True)
             
models()

top5 = compare_models(sort='AUC', n_select = 5)

blend_soft = blend_models(estimator_list = top5, optimize = 'AUC',method = 'soft')

cali_model = calibrate_model(blend_soft)

final_model = finalize_model(cali_model)

def predict_diabetes(patient):
    prediction = final_model.predict(patient)
    return prediction[0]

accuracy: 0.9177, precision: 0.9067, recall: 0.8500,F1: 0.8774

In [4]:
%run class/patient_details.py
%run util/utils.py

patient = Patient(cluster = 1, 
                  age = 30,
                  gender = 1, 
                  glucose = 100, 
                  diastolic_bp = 120, 
                  systolic_bp = 80, 
                  skin_thickness = 20, 
                  insulin = 34, 
                  bmi = 22, 
                  dpf = 1, 
                  age_bin = 1, 
                  bmi_class = 1, 
                  map_class = 1, 
                  cholesterol_class = 1, 
                  glucose_class = 1, 
                  smoke = 0, 
                  active = 1)

print_string("Padme")

Padme